/* 
About page – box
-------------------------------------------------- */
.about-box {
	min-height: 10vh;
	color: #000;
	background-color:#fff;
	transform: translateY(-100%); 
	box-shadow: -30px 30px 0 $text-color-main;
}




