/* 	
Button
-------------------------------------------------- */

.btn {
	background-color: transparent;
	border-color: #19d8a7;
	color: #19d8a7;
	padding: 15px 40px;
  	border-radius: 4px;
  	font-family: $font-family-sans-serif;
	text-transform: uppercase;
  	transition: all 0.2s ease-in-out;
  	margin-bottom: 10px;
  	
	&:hover { 
		background-color: $text-color-base;
    		color: #19d8a7;
	}
}


