
/* 
CONTACT PAGE – light box markup
-------------------------------------------------- */


/* CONTACT INFO TEXT
-------------------------------------------------- */
.left {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.right {
    float: right;
    width: 50%;
}

.group:after {
    content:"";
    display: table;
    clear: both;
}

.img-contact{
	min-width: 70vh;
}


.contact-form{
	margin-bottom: 50px;
	font-family: 'Scope One', serif;
}

.form-control{
	font-family:$font-family-sans-serif; 
}

@media screen and (max-width: 480px) {
    .left, .right {
        float: none;
        width: auto;
    }
    .img-contact{
	    	width: 10vh; 
    }
 
}