/* ===========================================================
	MAke your own custom style 
	here.
	When run in terminal:
	
	RUN: 
	npm run watch 
	// Constant make it watch for errors and compile the css in publiv
	
	STOP: 
	ctrl + c
	and type: CLEAR
	
=========================================================== */
*{
	padding: 0px;
	margin: 0px;
}

body{
	// background-color: green;
	font-family: $font-family-sans-serif;
}

img{
	width: 100%;
}
p{
	font-size: 2rem;
	margin-top: 10px;
}
.author-written{
	font-size: 1.5rem;

}
