/* ALERT MESSAGE – colour
-------------------------------------------------- */
.alert-success{
	color: #000;
	background-color: $text-color-main;
}

.alert-danger{
	color: #fff;
	background-color: #e42d9f;
}