/* -------------------------------------------------- 
	FOOTER PAGE 
-------------------------------------------------- */
.footer-container{
	height: 20vh;
	width: 100%;
	background-color: $text-color-base;

}
.footer-text{	
	color: #fff;	
	&:hover{
		text-decoration: none;
		cursor: pointer;
		color: $text-color-main;
	}
}



