/* 
HOME PAGE – grid, image
-------------------------------------------------- */

/* 
NAV AND DROPDOWN HOME PAGE– 
-------------------------------------------------- */
.nav-wrapper {
  overflow: hidden;
  
  li{
    list-style: none;
  }
  
  /* TO DO:::
    On home page i want the nav to be fixed
    but not on other pages
   */
  /*  position: fixed;*/
    /*  top: 10%;*/
}

.nav-wrapper li a:hover {
  background: rgba(192,192,192,0.3); 
  padding-right: 200px;
  color: $text-color-main;
  -webkit-transition: all 0.4s ease;
  text-decoration: none;
}

.nav-wrapper-home {
  clear: left;
  color: $text-color-links;
  float: left;
  font-size: 4em;
  line-height: 1;
  margin: 0 0 4px 0;
  padding: 6px 12px;
  margin-top: 50px;
  margin: 4px;
  text-transform: uppercase;
  background-color: $text-color-main;
}


