/* 
Images and CSS grid
-------------------------------------------------- */
.front-image{
   /* Full height */
    width: 100%;
    height:100%;
    height:calc(100% - 1px);
    padding-left: 0 auto;
    padding-right: 0 auto;
    margin: 0;
    /*border: 4px solid red;*/

    /* Center and scale the image */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Hover blur effect on images */
    &:hover{
        cursor: pointer;
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
}

.section {
  display: none;
  padding: 2rem;
  
  @media screen and (min-width: 768px) {
    padding: 4rem;
  }
  
  @supports(display: grid) {
    display: block;
  }
}

.grid-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background:  url('/upload_image/frank-mckenna-118431.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  
  &:nth-of-type(3n) {
    background-image: url('/upload_image/frank-mckenna-118431.jpg');
  }
  
  &:nth-of-type(4n) {
    background-image: url('/upload_image/nick-karvounis-75432.jpg');
  }
  
  &:nth-of-type(5n) {
    background-image: url('/upload_image/annie-spratt-66432.jpg');
  }
  
  &:nth-of-type(6n) {
    background-image: url('/upload_image/jordan-whitt-54480.jpg');
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }
  
  &:hover {
    transform: scale(1.05);
    
    &:after {
      opacity: 0;
    }
  }

  &--medium {
    grid-row-end: span 2;
  }

  &--large {
    grid-row-end: span 3;
  }

  &--full {
    grid-column-end: auto;

    @media screen and (min-width: 768px) {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }
  
  &__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    // text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;
    
    &:before {
    // content: counter(item-counter);
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}