/* -------------------------------------------------- 
	#myalbum logo 
-------------------------------------------------- */

.logo>li{
	display: grid;
	grid-template-columns: 1fr;
	font-size: 1rem;
	// border: 5px solid red;
}