/*===================================
	
	CMS Manage backend css
	
=======================================*/
#wrapper{
    background-color: #ccc;
}


a{
	color: #000;
}

h1, p, {
  color: #000;
}

a:hover{
    color: pink;
  
    a:hover{
        color:pink;
    }
}

/* 
TO DO!
How to make this button 
smaller for the manage pages 
*/
.btn {
    background-color: transparent;
    border-color: #000;
    color: #000;
    padding: 15px 40px;
    border-radius: 4px;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
  
  /* NOT write important to override the bootstrap 
    How do i overwrite the bootstrap easy 
    What to think about */
    &:hover { 
        background-color: #000;
        border-color: #000;
        color: #fff;
    }
}
.pagination{
    text-align: center;
}

.managment-area{
    position: absolute;
    left: 200px;
}