/*===================================
	
	CMS Manage backend css
	
=======================================*/

#sidebar-wrapper{
  background-color: white;
  color: #000;
  
  .sidebar-nav>ul>li>a{
  	  text-decoration: none;
  	list-style-type: none;
  }
}

a{
	color: #000;
}

