/* 
FILE UPLOAD AVATAR – 
profile image big and small 
-------------------------------------------------- */
.fileUpload {
    position: relative;
    overflow: hidden;
  
}

.fileUpload input.upload {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.img-fileUpload{
	width: 150px; 
	height: 150px; 
	float: left; 
	border-radius: 50%;
}

.img-fileUpload-small{
	 width: 38px; 
	 height: 38px; 
	 position: absolute;
	 top: -5px;
	 left: 0px;
	 right: 5px;
	 border-radius: 50%;
}
