/* 
Colours
-------------------------------------------------- */
$text-color-main: #19d8a7;
$text-color-head-text: #fff;
$text-color-links: #3e3a47;

$text-color-base: #3e3a47;
$text-color-boxes: #f5f5f5;

/* 
Fonts
-------------------------------------------------- */
$font-family-sans-serif: 'Scope One', serif;
/*-------------------------------------------------- */
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: $font-family-sans-serif;
	color: $text-color-links;
	// background-color: #444;
}




/* SINGLE POST PAGE – links
-------------------------------------------------- */
.single-post{
	color: $text-color-main;
	border-radius: none;
	
	&:hover{
		color: $text-color-links;
		text-decoration: none;
	}
}


/* 
General style
-------------------------------------------------- */
p {
	font-size: 2rem;
}

.author-written{
	font-size: 1.5rem;
}


/* SHOW ALL POST PAGE – images
-------------------------------------------------- */
.img-responsive{
	// border: 4px solid red;
	padding-bottom: 10px;
	width: 100%;
}


