
	
/* Colours
-------------------------------------------------- */
$text-color-main: #19d8a7;
$text-color-links: #3e3a47;
/* -------------------------------------------------- */
/* Fonts
-------------------------------------------------- */
$font-family-sans-serif: 'Scope One', serif;
/*-------------------------------------------------- */
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: $font-family-sans-serif;
	color: $text-color-links;
}


/* NAV DROPDOWN NAV -container
-------------------------------------------------- */
.nav-container{
	
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.6;
    color: $text-color-links;
    white-space: nowrap;
}

/* SINGLE POST – links
-------------------------------------------------- */
.single-post{
	color: $text-color-main;
	border-radius: none;
	
	&:hover{
		color: $text-color-links;
		text-decoration: none;
	}
}


/* NAV AND DROPDOWN HOME PAGE– 
-------------------------------------------------- */
.nav-wrapper {
	overflow: hidden;
	
	li{
		list-style: none;
	}
	
	/* TO DO:::
		On home page i want the nav to be fixed
	 	but not on other pages
	 */
	/*  position: fixed;*/
  	/*  top: 10%;*/
}

.nav-wrapper li a:hover {
  background: rgba(192,192,192,0.3); 
  padding-right: 200px;
  color: $text-color-main;
  -webkit-transition: all 0.4s ease;
  text-decoration: none;
}

.nav-wrapper-home {
  clear: left;
  color: $text-color-links;
  float: left;
  font-size: 4em;
  line-height: 1;
  margin: 0 0 4px 0;
  padding: 6px 12px;
  margin-top: 50px;
  margin: 4px;
  text-transform: uppercase;
  background-color: $text-color-main;
}

/* Login, Register links */
.nav-wrapper-auth{
	@extend .nav-wrapper-home;
	 background-color: #ccc;
	 color: #fff;
	 font-size: 1.5em;
	 
	 &:hover{
	 	color: $text-color-main;
	 	text-decoration: none;
	}
}

.dropdown {
	list-style-type: none;
	margin-top: 20px;
}
/* Dropdown links */


/* ABOUT PAGE – background image
-------------------------------------------------- */
.front-image{
	 /* Full height */
	width: 100%;
	height:100%;
	height:calc(100% - 1px);
	padding-left: 0 auto;
	padding-right: 0 auto;
	margin: 0;

    /* Center and scale the image */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &:hover{
    	cursor: pointer;
    	// border: 4px solid red;
    	  -webkit-filter: blur(2px);
      filter: blur(2px);
    }
}

p {
	font-size: 2rem;
}

.author-written{
	font-size: 1.5rem;
}

/* About us page – box
-------------------------------------------------- */
.about-box{
	padding:30px;
	color: #000;
	background-color:#fff;
	position: absolute;
	margin-top: 350px;
	margin-bottom: 300px;
	transform: translateY(-100%); 
	box-shadow: -20px 30px 0 $text-color-main;
}

/* ALERT MESSAGE – colour
-------------------------------------------------- */
.alert-success{
	color: #000;
	background-color: $text-color-main;
}

.alert-danger{
	color: #fff;
	background-color: #e42d9f;
}


/* CONTACT PAGE – light box
-------------------------------------------------- */
a.lightbox img {
    height: 100vh;
    border: 3px solid white;

    margin: 94px 20px 80px 20px;
}

/* SHOW ALL POST PAGE – images
-------------------------------------------------- */
.img-responsive{
	// border: 4px solid red;
	padding-bottom: 10px;
	width: 100%;
}